{% extends 'layout/base.html' %}

{% block 'title' %}Add User{% endblock 'title' %}

{% block 'content' %}

{% include 'include/sidebar.html' %}
{% include 'include/toastMessage.html' %}
<div class="p-2 sm:ml-64 mt-16 md:mt-14">
    <form action="/user/add" method="post">
        {% csrf_token %}
        <div class="grid grid-cols-2 gap-4 mx-auto">
            <div class="col-span-2 md:col-span-1">
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="full_name" id="full_name" placeholder=" " class="" required value="{{ form_data.full_name|default:''}}">
                    <label for="full_name">Full Name</label>
                </div>

                <div class="relative z-0 w-full mb-5 group">
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender" class="" required>
                        <option value="">Select a Gender</option>

                        {% for value, label in gender_choices %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                            
                    </select>
                </div>

                <div class="relative z-0 w-full mb-5 group">
                    <label for="role">Role</label>
                    <select name="role" id="role" class="" required>
                        <option value="">Role</option>
                        <option value="">Select a Role</option>

                        {% for position, role in role_choices %}
                            <option value="{{ position }}">{{ role }}</option>
                        {% endfor %}
                            
                    </select>
                </div>

                <div class="relative z-0 w-full mb-5 group">
                    <input type="date" name="birth_date" id="birth_date" value=" {{form_data.birth_date|default:' '}}"required>
                    <label for="birth_date" >Birthdate</label>
                </div>

                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="address" id="address" value="{{ form_data.address|default:''}}" placeholder=" " required>
                    <label for="address">Address</label>
                </div>

                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="contact_number" id="contact_number" value="{{ form_data.contact_number|default:''}}" placeholder=" " required>
                    <label for="contact_number">Contact Number</label>
                </div>
            </div>
            <div class="col-span-1 md:col-span-1">
                <div class="relative z-0 w-full mb-5 group">
                    <input type="text" name="username" id="username" value="{{ form_data.username|default:''}}" placeholder=" " required>
                    <label for="username">Username</label>
                </div>

                <div class="relative z-0 w-full mb-5 group">
                    <input type="password" name="password" id="password" placeholder=" " required>
                    <label for="password">Password</label>
                </div>

                <div class="relative z-0 w-full mb-5 group">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder=" " required>
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </div>
        </div>

        <div class="flex justify-end">
            <button type="submit">
                <span>Save User</span>
            </button>
        </div>
    </form>
</div> 

{% endblock 'content' %}
