{% extends 'layout/base.html' %}

{% block 'title' %}Employees List{% endblock 'title' %}

{% block 'content' %}

{% include 'include/sidebar.html' %}
{% include 'include/toastMessage.html' %}

<div class="p-2 sm:ml-64 mt-16 md:mt-14">
    <div class="mb-4">
        <form action="/user/list" method="GET">
            <input type="text" name="search" placeholder="Search employee" value="{{ search_query }}" >
            <button type="submit" >Search</button> 
            {% if search_query %}
                <a href="/user/list" >Clear</a>
            {% endif %}
        </form>
    </div>
    <div class="relative overflow-x-auto rounded-sm shadow-sm">
        <table class="w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3">Full  Name</th>
                    <th class="px-6 py-3">Role</th>
                    <th class="px-6 py-3">Gender</th>
                    <th class="px-6 py-3">Contact Number</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td class="px-6 py-3">{{ user.full_name}}</td>
                        <td class="px-6 py-3">{{ user.get_role_display}}</td>
                        <td class="px-6 py-3">{{ user.get_gender_display}}</td>
                        <td class="px-6 py-3">{{ user.contact_number}}</td>
                        <td class="px-6 py-3">
                            <div>
                                <a href="/user/edit/{{ user.user_id}}">Edit</a>
                                <a href="/user/delete/{{ user.user_id}}">Delete</a>
                                <a href="#">Change Password</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}                   
            </tbody>
        </table>
    </div>
</div>

{% endblock 'content' %}