{% extends 'layout/base.html' %}

{% block 'title' %}Patients List{% endblock 'title' %}

{% block 'content' %}

{% include 'include/NurseSidebar.html' %}
{% include 'include/toastMessage.html' %}


<div class="p-2 sm:ml-64 mt-16 md:mt-14">
    <div class="mb-4">
        <form action="/patient/list/" method="GET">
            <input type="text" name="search" placeholder="Search patient" value="{{ search_query }}" >
            <button type="submit" >Search</button> 
            {% if search_query %}
                <a href="/user/list" >Clear</a>
            {% endif %}
        </form>
    </div>
    <div class="relative overflow-x-auto rounded-sm shadow-sm">
        <table class="w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3">Full Name</th>
                    <th class="px-6 py-3">Admitting Physician</th>
                    <th class="px-6 py-3">Age</th>
                    <th class="px-6 py-3">Sex</th>
                    <th class="px-6 py-3">Marital Status</th>
                    <th class="px-6 py-3">Date of Birth</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td class="px-6 py-3">{{ patient.full_name}}</td>
                        <td class="px-6 py-3">{{ patient.physician.full_name }}</td>
                        <td class="px-6 py-3">{{ patient.age }}</td>
                        <td class="px-6 py-3">{{ patient.get_gender_display }}</td>
                        <td class="px-6 py-3">{{ patient.get_status_display }}</td>
                        <td class="px-6 py-3">{{ patient.birth_date|date:"F d, Y"}}</td>
                        <td class="px-6 py-3">
                            <div>
                                <a href="/patient/edit/{{ patient.patient_id }}">Edit</a>
                                <a href="/patient/information/{{ patient.patient_id }}">Show Information</a>
                                <a href="/vitals/info/{{ patient.patient_id }}">Show Vitals</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}                   
            </tbody>
        </table>
    </div>
</div>

{% endblock 'content' %}