{% extends 'layout/base.html' %}

{% block 'title' %} Vital Signs Form {% endblock 'title' %}

{% block 'content' %}
{% include 'include/NurseSidebar.html' %}
{% include 'include/toastMessage.html' %}


<div class="p-2 sm:ml-64 mt-16 md:mt-14">
    <div class="container">
        <h2 class="text-center">Vital Signs Form</h2>
        <form method="POST" action="/vitals/add/">
            {% csrf_token %}
            <div>
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control" id="date" name="date" value="{{ patient.date |date:'Y-m-d' }}" required>
                <div class="mb-3">
                    <label for="patient_id" class="form-label">Patient ID</label>
                    <select name="patient_id" id="patient" required>
                        
                        {% for p in patients  %}
                            <option value="{{ p.patient_id }}">{{ p.full_name }}</option>
                        {% endfor %}
                            
                    </select>
                </div>
                <div class="flex flex-row">      
                    <div>
                        <label for="time" class="form-label">Time</label>
                        <input type="time" class="form-control" id="time" name="time" required>
                    </div>
                    <div class="mb-3">
                        <label for="temperature" class="form-label">Temperature (°C)</label>
                        <input type="number" step="0.1" class="form-control" id="temperature" name="temperature" required>
                    </div>
                    <div class="mb-3">
                        <label for="pulse" class="form-label">Pulse Rate (bpm)</label>
                        <input type="number" class="form-control" id="pulse" name="pulse" required>
                    </div>
                    <div class="mb-3">
                        <label for="respiration" class="form-label">Respiration</label>
                        <input type="number" class="form-control" id="respiration" name="respiration" required>
                    </div>
                    <div class="mb-3">
                        <label for="blood_pressure" class="form-label">Blood Pressure (mmHg)</label>
                        <input type="text" class="form-control" id="blood_pressure" name="blood_pressure" required>
                    </div>
                    <div>
                        <label for="o_sat" class="form-label">Oxygen Saturation (%)</label>
                        <input type="number" class="form-control" id="o_sat" name="o_sat" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock 'content' %}