{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/output.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <title>{% block 'title' %}{% endblock 'title' %}</title>
</head>
<body class="flex h-screen bg-gray-100">
    <div class="sidebar">
        {% if request.session.role == 'A' %}
            {% include 'include/sidebar.html' %}
        {% elif request.session.role == 'D' %}
            {% include 'include/DoctorSidebar.html' %}
        {% elif request.session.role == 'N' %}
            {% include 'include/NurseSidebar.html' %}
        {% endif %}
    </div>
    <main class="flex-1 overflow-y-auto">
        {% block 'content' %} {% endblock 'content' %}
    </main>
    {% if not hide_chatbot %}
        {% include 'chatbot/chatbot.html' %}
    {% endif %}
    <script src="{% static 'js/auto_hide_toast.js' %}"></script>
    <script src="{% static 'js/highlight.js' %}"></script>
</body>
</html>